:root {
  @each $class, $color in $theme-colors {
    --#{$class}: #{$color};
    --#{$class}-border: #{darken($color, 20)};
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
ul {
  list-style-type: none;
}
a {
  appearance: auto;
  color: inherit;
  text-decoration: none;
}
