.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}
.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}

.inline {
  display: inline;
}
.block {
  display: block;
}
.cursor-default {
  cursor: default;
}
.not-allowed {
  cursor: not-allowed;
}
.no-drop {
  cursor: no-drop;
}
.overflow-hidden {
  overflow: hidden;
}
.w-full {
  width: 100%;
}
.block {
  display: block !important;
}
.d-none {
  display: none !important;
}
.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.text-bold {
  font-weight: bold;
}
.img-fluid {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}
.overlay {
  background-color: rgba($color: #000000, $alpha: 0.3);
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  transition: $delay ease-in-out;
}
.fira {
  font-family: 'Fira Code', monospace;
}

.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.underline {
  text-decoration: underline;
}
.text-center {
  text-align: center;
}
.text-start {
  text-align: start;
}
.text-end {
  text-align: end;
}
