.row {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
}
.row > * {
  width: 100%;
  max-width: 100%;
}
.col {
  flex: 1 0 0%;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: calc((100% / 12) * $i - $gap);
  }
}

@each $screen, $width in $screens {
  @media screen and (min-width: $width) {
    @for $i from 1 through 12 {
      .col-#{$screen}-#{$i} {
        width: calc((100% / 12) * $i - $gap);
      }
      .w-#{$screen}-#{$i} {
        width: calc(100% / 12 * $i - $gap);
      }
      .w-#{$i} {
        width: calc(100% / 12 * $i - $gap);
      }
    }
    @each $order in $orders {
      .order-#{$screen}-#{$order} {
        order: $order;
      }
    }
    .d-#{$screen}-none {
      display: none !important;
    }
    .d-#{$screen}-block {
      display: block !important;
    }
    .d-#{$screen}-flex {
      display: flex !important;
    }
    .d-#{$screen}-grid {
      display: grid !important;
    }
    .w-#{$screen}-full {
      width: 100%;
    }
    .w-#{$screen}-50 {
      width: 50%;
    }
    .w-#{$screen}-fit {
      width: fit-content;
    }
    .#{$screen}-inline {
      display: inline;
    }
    .#{$screen}-block {
      display: block;
    }
    .#{$screen}-flex {
      display: flex;
    }
    .text-#{$screen}-center {
      text-align: center;
    }
    .text-#{$screen}-start {
      text-align: start;
    }
    .text-#{$screen}-end {
      text-align: end;
    }
  }
}
