.title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
  & .line {
    background-color: var(--black);
    height: 2px;
    flex: 1 0 0%;
    display: block;
  }

  .link {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
}
body.dark {
  .title {
    & .line {
      background-color: var(--white);
    }
  }
}

.opacity {
  background-color: transparent !important;
}
