.navbar {
  backdrop-filter: blur(4px);
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 5;
  transition: $delay ease-in-out;
  &.shadow {
    box-shadow: 0 10px 30px -10px rgba(179, 180, 181, 0.7);
  }
  .container {
    @include flex(space-between, center);
  }

  &-list {
    @include flex(center, center);
    gap: 1.5rem;
    &-item {
      transition: 0.2s ease-in-out;
      position: relative;
      &:hover {
        color: $danger-500;
        transform: translateY(-5px);
        &::after {
          scale: 1;
        }
      }
      & a {
        position: relative;
        transition: 0.2s ease-in-out;
        display: block;
      }
      & a.active {
        color: $danger;
        &::after {
          content: '';
          position: absolute;
          z-index: -1;
          bottom: -20px;
          left: 50%;
          transform: translateX(-50%);
          background: radial-gradient(circle at bottom, $danger 5%, #0000 60%);
          width: 25px;
          height: 25px;
          scale: 1;
          transition: transform 0.2s ease-out;
          transform-origin: bottom;
        }
      }
    }
  }
  .toggle-menu {
    display: none;
  }
  @media screen and (max-width: 767px) {
    &-list {
      display: none;
    }
    .toggle-menu {
      display: block;
    }
  }
}
body.dark {
  .navbar {
    &.shadow {
      box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
    }
  }
}
