.navbar {
  backdrop-filter: blur(4px);
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 5;
  transition: $delay ease-in-out;
  &.shadow {
    box-shadow: 0 10px 30px -10px rgba(179, 180, 181, 0.7);
  }
  .container {
    @include flex(space-between, center);
  }

  &-list {
    @include flex(center, center);
    gap: 1.5rem;
    &-item {
      transition: transform $delay ease-in-out;
      position: relative;
      &:hover {
        color: var(--danger);
        transform: translateY(-5px);
        &::after {
          scale: 1;
        }
      }
      & a {
        position: relative;
        transition: $delay ease-in-out;
        display: block;
      }
      & a.active {
        color: var(--danger);
        font-weight: bold;
      }
    }
  }
  .toggle-menu {
    display: none;
  }
  @media screen and (max-width: 767px) {
    &-list {
      display: none;
    }
    .toggle-menu {
      display: block;
    }
  }
}
body.dark {
  .navbar {
    &.shadow {
      box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
    }
  }
}
