.aside {
  position: fixed;
  bottom: 0;
  left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    &-item {
      transform: translateY(0);
      transition: $delay ease-in-out;
      &:hover {
        transform: translateY(-5px);
        color: var(--danger);
      }
    }
  }
  gap: 20px;
  &::after {
    content: '';
    display: block;
    width: 1px;
    height: 150px;
    margin: 0px auto;
    background-color: var(--danger);
  }
}
.nav-right {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
  transform: translateY(0);

  &::after {
    content: '';
    display: block;
    width: 1px;
    height: 150px;
    margin: 0px auto;
    background-color: var(--danger);
  }
  a {
    transition: $delay ease-in-out;
    margin: 20px auto;
    padding: 0 10px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    &:hover {
      transform: translateY(-5px);
      color: var(--danger);
    }
  }
}

@media (max-width: 900px) {
  .aside,
  .nav-right {
    display: none;
  }
}
