.hero {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 90vh;
  height: 90vh;

  .h-lg {
    font-size: clamp(40px, 8vw, 80px);
    color: $gray-900;
  }
  h3.h-lg {
    margin: 5px 0;
    color: $gray-800;
  }
  .job-description {
    max-width: 540px;
    color: $gray-600;
  }
}
body.dark {
  .h-lg {
    color: $gray-300;
  }
  h3.h-lg {
    color: $gray-500;
  }
}
