.skills {
  .row {
    justify-content: start;
  }
  .card {
    display: flex;
    align-items: center;
    &-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    &-img {
      display: flex;
      justify-content: center;
      img {
        width: 40px;
      }
    }
  }
}
