@each $class, $color in $theme-colors {
  .btn.#{$class} {
    background-color: var(--#{$class});
    border: 1px solid var(--#{$class}-border);
    color: contrast-color($color);
    &:hover {
      background-color: var(--#{$class}-border);
    }
  }
  .btn-outline.#{$class} {
    color: var(--#{$class});
    background-color: transparent;
    border: 1px solid var(--#{$class});
  }
  .btn-outline.#{$class} {
    &:hover {
      transform: translate(-5px, -5px);
      box-shadow: 4px 4px 0 0 var(--#{$class});
    }
  }
  .border-#{$class} {
    border-color: var(--#{$class});
  }
  .active-#{$class} {
    color: var(--#{$class}-border);
  }
  .bg-hover-#{$class}:hover {
    background-color: var(--#{$class}-border) !important;
  }
  .text-hover-#{$class}:hover {
    color: var(--#{$class}-border) !important;
  }
  .text-#{$class} {
    color: var(--#{$class}) !important;
  }
  .bg-#{$class} {
    background-color: var(--#{$class}) !important;
  }
  .modal.#{$class} {
    .modal-header,
    .modal-content {
      background-color: var(--#{$class});
    }
  }
  .control {
    &.border-#{$class} {
      border-color: var(--#{$class}-border);
    }

    &.#{$class}:focus {
      border-color: var(--#{$class});
      outline: 0;
      box-shadow: 0px 0px 5px 0px lighten($color, 10);
    }
    &.#{$class}:hover {
      border-color: var(--#{$class}-border);
    }
  }
  .badge.#{$class} {
    background-color: var(--#{$class});
    color: contrast-color($color);
  }
}
