@mixin flex($justify: start, $align: start, $dir: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $dir;
}

@mixin align($direction) {
  text-align: $direction;
}
