.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $unit;
}
.btn,
.btn-outline {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  font-family: inherit;
  cursor: pointer;
  transition: $delay ease;
  &:focus,
  &:focus-visible {
    outline: 0;
  }
  &:active {
    opacity: 0.7;
  }
  &.icon {
    border-radius: 50%;
    padding: 0.5rem;
    min-width: 10px;
    min-height: 10px;
  }
  &.toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 6px;
    border: none;
    gap: 0.2rem;
    padding: 0.5rem;
    .toggler-icon {
      background-color: $black;
      height: 2px;
      width: 20px;
      border-radius: 6px;
    }
  }
}
.btn-outline {
  position: relative;
  overflow: hidden;

  &:hover {
    transform: translate(-5px, -5px);
    box-shadow: 4px 4px 0 0 var(--danger);
  }
}
