.control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  appearance: none;
  background-color: $white;
  background-clip: padding-box;
  border: 1.4px solid $gray;
  border-radius: 6px;
  transition: 0.2s linear;
  &:focus {
    outline: 0;
  }

  // Placeholder
  &::placeholder {
    color: $gray;
    opacity: 1;
  }
}
body.dark {
  .control {
    background-color: $black;
  }
}
