.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  &.open-modal {
    opacity: 1;
    visibility: visible;
  }
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 1rem;
    border-bottom: 1px solid $gray;
    .close-btn {
      background: none;
      border: none;
      color: inherit;
      font-size: 20px;
      cursor: pointer;
    }
  }
  .modal-content {
    border-radius: 5px;
    padding: 1rem;
    padding-top: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    max-height: 100vh;
  }
  .modal-body {
    margin-top: 1rem;
  }
}
.modal-full {
  .modal-content {
    width: 100%;
    height: 100%;
  }
}
