@import './sass/main';
body {
  transition: background-color $delay ease-in-out;
  cursor: url('./assets/cursor.png'), auto;
  ::selection {
    background-color: var(--black);
    color: var(--white);
  }
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--danger);
  border-radius: 20px;
}
body.dark {
  background-color: var(--black);
  color: var(--white);
  ::selection {
    background-color: var(--white);
    color: var(--black);
  }
  .privacy-screen {
    background-color: var(--black);
  }
}
.privacy-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gray);
  z-index: 6;
  border: 1px solid var(--gray);
}
